*{
    box-sizing: border-box;
    font-family:   'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

body{
    background: linear-gradient(135deg, #2980b9, #6dd5fa, #000, #276c85, #2980b9);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (min-width: 768px) {
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}
    